-var backend = "../../backend/"
-var reveal = backend + "reveal.js-master/"
-var custom = backend + "customCompiled/"
-var customPlugin = backend + "plugins/"

doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		title Ahmed's Presentation
		
		link(rel='stylesheet' href= reveal + 'dist/reset.css')
		link(rel='stylesheet' href= reveal + 'dist/reveal.css')
		link(rel='stylesheet' href= reveal + 'dist/theme/black.css')

		link(rel='stylesheet' href= custom + 'custom.css' media = "screen")
	body
		.reveal
			.slides
				block opening
						section.start
							block title
								h1.f Presentation Title
							.f(data-fragment-index="1") Ahmed Thahir
							aside.
								# Self

								1. ***Click notes to get back focus***
								1. Lights off
								1. Phone - Silent
								1. Water
								1. Use the audience screen for animations

								# Audience
								1. audible/issues, let me know
								1. Q&A session at the end

				block content
				block thanks
					section.end
						h1 Thank &nbsp;You
				block qa
					section
						h1 Q&A
						img(s="qr.svg")
						aside.
							1. So let's start the Q&A session
							1. Feel free to ask any questions
							1. Meanwhile, QR code - folder containing
								1. report
								1. references used for the reseach
								1. the credits to the photographers
				section#appendix
					block appendix
						h1 Appendix
		script(src= custom + 'custom.js')
		script(src= reveal + 'dist/reveal.js')

		script.
			Reveal.initialize({
				hash: true,
				controls: true, // hide the arrows
				
				//- viewDistance: 2, // it seems bad, but while actually presenting, this is the most stable, because i will take time bw slides anyways
				preloadIframes: true, // loads iframes only within view distance

				hideCursorTime: 1000, // Time before the cursor is hidden (in ms)

				overview: false, // i don't really use it; why waste resources
				center: false,
				
				width: 1000,
				//- height: 1080,
				//- margin: 0,

				katex: {
					local: '#{backend}' + 'node/node_modules/katex',
				},

				menu: {
					openButton: false
				},

				pointer: {
					key: "p", // key to enable pointer, default "q", not case-sensitive
					color: "hsla(0, 80%, 50%, 0.85)", // color of a cursor, default "red" any valid CSS color
					pointerSize: 30, // pointer size in px, default 12
				},

				
			});

			Reveal.configure({
				//- pdfSeparateFragments: false,
				//- pdfMaxPagesPerSlide: 1,
				navigationMode: "linear", // left-right arrows traverse horizontal and vertical slides
				keyboard: {
					// these are javascript keycodes
					90: 'togglePause'
				}
			});

			load();

			// plugins
			function load()
			{
				
				const loadScript = src => {
				return new Promise((resolve, reject) => {
						const script = document.createElement('script');
						script.type = 'text/javascript';
						script.onload = resolve;
						script.onerror = reject;
						script.src = src;
						document.head.append(script);
					})
				}

				const loadStyle = href => {
				return new Promise((resolve, reject) => {
						const style = document.createElement('link');
						style.rel="stylesheet";
						style.type = 'text/css';
						style.onload = resolve;
						style.onerror = reject;
						style.href = href;
						document.head.append(style);
					})
				}

				loadScript( "#{customPlugin}" + 'menu/menu.js' ).then(() => {
						Reveal.registerPlugin( RevealMenu )
				})

				//- loadStyle("#{customPlugin}" + 'pointer/pointer.css')
				//- loadScript( "#{customPlugin}" + 'pointer/pointer.js' ).then(() => {
				//-     Reveal.registerPlugin( RevealPointer )
				//- })
				
				if(document.querySelector(".diagram-data") != null)
				{
					const k = "#{customPlugin}" + 'mermaid/mermaid.'
					loadScript( k + 'js' )
					loadStyle( k + 'css')
					loadScript( k + 'full.js' )
				}


				// default plugins
				loadScript( "#{reveal}" + 'plugin/math/math.js' ).then(() => {
						Reveal.registerPlugin( RevealMath.KaTeX )
				})

				if(document.querySelector("code") != null)
				{
					const k = "#{reveal}" + 'plugin/highlight/'
					loadStyle(k + 'monokai.css')
					loadScript( k + '/highlight.js' ).then(() => {
						Reveal.registerPlugin( RevealHighlight )
					})
				}
				if(document.querySelector("aside") != null)
				{
					loadScript( "#{reveal}" + 'plugin/markdown/markdown.js' ).then(() => {
						Reveal.registerPlugin( RevealMarkdown )
					})

					loadScript( "#{reveal}" + 'plugin/notes/notes.js' ).then(() => {
						Reveal.registerPlugin( RevealNotes )
					})
				}

			}